<?xml version="1.0"?>
<config>
    <modules>
        <Ip_Categorymode>
            <version>0.1.0</version>
        </Ip_Categorymode>
    </modules>
    <global>
        <helpers>
            <categorymode>
                <class>Ip_Categorymode_Helper</class>
            </categorymode>
        </helpers>
        <blocks>
            <categorymode>
                <class>Ip_Categorymode_Block</class>
            </categorymode>
            <catalog>
                <rewrite>
                    <category_view>Ip_Categorymode_Block_Category</category_view>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <categorymode>
                <class>Ip_Categorymode_Model</class>
            </categorymode>
            <catalog>
                <rewrite>
                    <category_attribute_source_mode>Ip_Categorymode_Model_Mode</category_attribute_source_mode>
                </rewrite>
            </catalog>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <categorymode>
                    <file>categorymode.xml</file>
                </categorymode>
            </updates>
        </layout>
    </frontend>
</config>